

h1{
	font-family: fantasy;
	text-align: center;
	border-bottom: 2px solid pink;
}
.images{

	display: flex;
					/*To activate flexbox*/
	flex-wrap: wrap;
	justify-content: center;
	
	/*image will transform when we hover, its defined just below*/
}

img{
	width:200px;
	height: 200px;
	margin: 10px;
	transition :all 1s;
}
img:hover{
	transform:scale(1.1);
}


/*This will generate a bordered box with color when mouse hover.*/

footer{
	clear:both;
	text-align: center;
}